{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block nav_links %}
{% endblock nav_links %}

{% block nav_brand %}
    {{ event.event_title }}
{% endblock nav_brand %}


{% block nav_brand_link %}#{% endblock %}


{% block content %}

    {% if show_check %}
        <div style="font-size: 64pt; text-align: center">
            <a href='{{ request.get_full_path }}'>
                <br />
                ✅
                <br />
            </a>
        </div>

        <script>
            setTimeout(function() {
                window.location.href = '{{ request.get_full_path }}';
            }, {{ timeout }} * 1000);
        </script>
    {% else %}
        {% crispy form %}
    {% endif %}

{% endblock content %}
